{% load static %}
<style>
    body {
        background-image: linear-gradient(45deg, #1a80ee, #b4be26); /* Set your desired background color here */
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    div {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }


    ul {
        list-style-type: none;
        padding: 0;
    }


    .btn {
        display: inline-block;
        background-color: blue;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }


</style>
    <h1>Cambiar contraseña</h1>
    <h2>{{ user.usuario }}</h2>

<form method="POST"> {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    
</form>
<a href="../Inicio">Aceptar </a>