<div>
    {% extends "AppCoder/inicio.html" %}
    {% load static %}

    {% block contenidoQueCambia %}

            <div class="fotos-container">
                    <div class="foto-item">
                        <h1> Cursos de Lectura </h1>
                        <img src="{% static 'AppCoder/assets/images/imagen1.png' %}" alt="{{ foto.descripcion }}">
                        <p>Aprender lectura veloz te ayudará a entender de forma más eficiente y RÁPIDA los textos que lees. 
                            Podrás disfrutar de todos esos libros que tienes en tu lista de "próximas lecturas", además tendrás más capacidad de retención contenidos, mejorarás tus capacidades de estudio y se te abrirán un sinfín de nuevas oportunidades en el maravilloso mundo de la lectura.
                            Estos cursos no sólo te enseñarán a que el movimiento de tus ojos sea más veloz, sino que aprenderás a leer más rápido entendiendo lo que lees.
                        </p>
                        <br>
                        <h1> Curso "Súper Cerebro y Súper lectura" </h1>
                        <img src="{% static 'AppCoder/assets/images/imagen2.jpg' %}" alt="{{ foto.descripcion }}">
                        <p>A lo largo del curso te enseña distintas técnicas para aumentar tu velocidad de lectura. Tú decides cuál es la que más te acomoda.<br>
                            Te prometemos que al finalizar el curso lograrás:<br>
                            
                            - Leer de 1 a 6 libros a la semana.<br>
                            - Multiplicar por 3 tu velocidad de aprendizaje.<br>
                            - Absorber cualquier información 200% más rápido.<br>
                            - Resolver problemas más fácil y rápido que antes.<br>
                            - Crear hábitos que estimulen tu inteligencia y creatividad.<br>
                            - Aprender rituales que te predispongan a la lectura diaria.<br>
                        </p>
                        
                        <div class="btn-container">
                            <a href="{% url 'Profesores' %}"><button type="button" class="btn"> Ver profesores </button></a>
                            <button onclick="mostrarHorario('Curso Súper Cerebro y Súper lectura')" class="btn">Ver Horarios</button>    
                        </div>
                        <br>
                        <h1> Curso Súper Lector </h1>
                        <img src="{% static 'AppCoder/assets/images/imagen3.jpg' %}" alt="{{ foto.descripcion }}">
                        <p>Es un sistema que te promete que, en 3 semanas o menos, mejorarás tu Velocidad y Comprensión lectora y desarrollarás el hábito de la lectura rápida, con ejercicios 100% prácticos y fáciles de realizar.<br>
                            Es un curso pensado en:<br>

                            - Escolares y universitarios que quieran mejorar su rendimiento académico.<br>
                            - Empleados y profesionales que deseen aumentar su capacidad de aprendizaje a través de los libros.<br>
                            - Empresarios que quieran aprender rápidamente a través de la lectura a cómo mejorar los procesos dentro de sus empresas.<br>
                            - Toda persona que siempre ha tenido interés por la lectura.<br>
                            Al finalizar el curso podrás:<br>

                            - Leer al menos de 2 a 4 libros cada mes.<br>
                            - Cambiar los malos hábitos de lectura que te hacen desconcentrarte y no avanzar mientras lees.<br>
                            - Comprender todo lo que leas y no tener que volver a leer nuevamente un párrafo para entenderlo.</p>
                            <div class="btn-container">
                                <a href="{% url 'Profesores' %}"><button type="button" class="btn"> Ver profesores </button></a>
                                <button onclick="mostrarHorario('Curso Súper Lector')" class="btn">Ver Horarios</button>
                            </div>
                            <br>
                            <h1> Curso online sobre Lectura en general </h1>
                            <img src="{% static 'AppCoder/assets/images/imagen4.jpg' %}" alt="{{ foto.descripcion }}">
                            <p>Si te apasiona la lectura, entonces tienes que darle un vistazo a este curso.<br>    
                                Aprenderás a:<br>
                                
                                - Conocer la naturaleza y la esencia de la lectura.<br>
                                - Cómo emplear técnicas y estrategias de comprensión lectora.<br>
                                - Aplicar los principios de la comprensión lectora mediante una serie de ejercicios.<br>
                                - Identificar los errores que puedes estar cometiendo en tu comprensión lectora.<br>
                                - También, se tratan temas claves, como los mapas mentales, mapas conceptuales, subrayado, cómo hacer buenos resúmenes, fotolectura, lectura silenciosa, entre muchos otros.</p>
                            <div class="btn-container">
                                <a href="{% url 'Profesores' %}"><button type="button" class="btn"> Ver profesores </button></a>
                                <button onclick="mostrarHorario('Curso online sobre Lectura en general')" class="btn">Ver Horarios</button
                            </div>
                            <br>
                            <h1> Curso de Lectura Rápida con Mapas Mentales </h1>
                            <img src="{% static 'AppCoder/assets/images/imagen5.jpg' %}" alt="{{ foto.descripcion }}">
                            <p>Está dirigido a:<br>
                                - Estudiantes de sistemas escolarizados, abiertos u online.<br>
                                - Padres de familia que quieran ayudar a sus hijos a leer eficazmente.<br>
                                - Emprendedores que requieran leer con mayor efectividad.<br>
                                - Profesionales que deseen actualizarse.<br>
                                - Al igual que el curso Súper Lector, a través de los Mapas Mentales multiplicarás tu velocidad y comprensión lectora.<br>
                                - Extraerás con mayor facilidad la información esencial de cada texto que leas, sin importar si son libros técnicos o novelas.<br>
                            </p>
                            
                            <div class="btn-container">
                                <a href="{% url 'Profesores' %}"><button type="button" class="btn"> Ver profesores </button></a>
                                <button onclick="mostrarHorario('Curso de Lectura Rápida con Mapas Mentales')" class="btn">Ver Horarios</button>
                            </div>
                            <br>
                            <h1>  Curso bonus "Aprendiendo a aprender" </h1>
                            <img src="{% static 'AppCoder/assets/images/imagen6.jpg' %}" alt="{{ foto.descripcion }}">
                            <p>  Se llama "Aprendiendo a aprender: Poderosas herramientas mentales con las que podrás dominar temas difíciles", y es MUY RECOMENDADO si lo que quieres es mejorar tu forma de aprendizaje y comprensión.<br>
                                - Aprenderás las técnicas de aprendizaje utilizadas por expertos en arte, música, literatura, matemáticas, ciencia, deportes y más disciplinas.<br>
                                - Aprenderás técnicas de memoria.<br>
                                - Cómo evitar la procrastinación (aplazar una obligación o trabajo).<br>
                                - Cómo dominar temas complicados.<br>
                                - Aprender todo esto, te ayudará a sí o sí a tener una lectura mucho más satisfactoria y a que le saques el mayor provecho a tu tiempo leyendo.<br>
                            </p>
                            
                            <div class="btn-container">
                                <a href="{% url 'Profesores' %}"><button type="button" class="btn"> Ver profesores </button></a>
                                <button onclick="mostrarHorario('Curso bonus Aprendiendo a aprender')" class="btn">Ver Horarios</button></div>
                            <br>
                    </div>
                    <script>
                        function mostrarHorario(curso) {
                            let horario = '';
                            let horario1= '';
                            
                            if (curso === 'Curso Súper Cerebro y Súper lectura') {
                                horario = '- Lunes y Miércoles 14:00 - 16:00';
                                horario1='- Martes y Jueves de 19:00 - 21:00';
                            } else if (curso === 'Curso Súper Lector') {
                                horario = '- Martes y Jueves 10:00 - 12:00';
                                horario1='- Lunes y Miércoles 18:00 - 20:00';
                            }else if (curso === 'Curso online sobre Lectura en general') {
                                horario = '- Martes y Jueves 10:00 - 12:00';
                                horario1= '- Lunes y Miércoles 18:00 - 20:00';
                            }else if (curso === 'Curso de Lectura Rápida con Mapas Mentales') {
                                horario = '- Martes y Jueves 13:00 - 15:00';
                                horario1= '- Lunes y Miércoles 21:00 - 23:00'; 
                            }else if (curso === 'Curso bonus Aprendiendo a aprender') { 
                                horario = '- Martes y Jueves 17:00 - 19:00';
                                horario1= '- Lunes y Miércoles 07:00 - 09:00'; 
                            }                                                              
                            const ventanaEmergente = window.open('', '_blank', 'width=400,height=200,top=50%,left=50%,transform=translate(-50%, -50%)');
                            ventanaEmergente.document.write('<h2>Horarios del Curso Seleccionado:</h2>');
                            ventanaEmergente.document.write('<p>' + horario + '</p>');
                            ventanaEmergente.document.write('<p>' + horario1 + '</p>');
                            ventanaEmergente.document.close();
                        }
                    </script>
            </div>
            
            <div class="formSetCurso">
                {% block setCurso %}
                {% endblock %}
            </div>          
            <div class="formGetCurso">
                {% block getCurso %}
                {% endblock %}
        <div>
            <a href="{% url 'setCurso' %}"><button class="btn">Anotarse</button></a>
        </div>
    {% endblock %}
</div>
