<div>
    {% extends "AppCoder/inicio.html" %}
    {% load static %}
    
        {% block contenidoQueCambia %}
            <p>Entregables disponibles</p>
            <table id="tableInfoEntregables">
                <tr id="tituloTablaEntregables">
                    <th>Curso</th>
                    <th>Fecha</th>
                    <th>Entregada</th>
                    <th>Eliminar</th>
                    <th>Editar</th>

                </tr>
                    {% for entregable in Entregables %}
                        <tr>
                            <td>{{entregable.curso}}</td>
                            <td>{{entregable.fecha}}</td>
                            <td>{{entregable.entregada}}</td>
                            <td><button class="btn btn-danger btnEliminar"><a href="{% url 'eliminarEntregable' entregable.curso %}"> X </a></button> </td>
                            <td><button class="btn btn-warning btnEditar"><a href="{% url 'editarEntregable' entregable.curso %}">Editar</a></button></td>
                        </tr>
                    {% endfor %}  
            </table>
            <div class="formSetEntregable">
                {% block setEntregable %}
                {% endblock %}
            </div>          
            <div class="formGetEntregable">
                {% block getEntregable %}
                {% endblock %}
            </div>
            <a href="{% url 'setEntregable' %}"><button class="btn ">Hacer Entrega</button></a>
            <a href="{% url 'getEntregable' %}"><button class="btn ">Buscar Entrega</button></a>
        {% endblock %}
</div>