<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href=" {% static 'AppCoder/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'AppCoder/css/style.css' %}" rel="stylesheet"/>

    <title>Login  E D U R E A D </title>
</head>
<body>
    <div class="containerForm">
        <form action="" method="POST" class="formLogin">{% csrf_token%}
            <h3 style="color:white; font-weight: bold;margin: 30px;display: flex;justify-content: content;align-items: center;"> Login  E D U R E A D </h3>
            <div>
                <input name="user" type="text" placeholder="User" class="inputLogin">
            </div>
            <div>
                <input name="password" type="password" placeholder="Password" class="inputLogin">
            </div>
            <div>
                <button class="btn btn-primary" type="submit"> Login </button>
            </div>
            <p style="color:white"> Aun no tienes una cuenta? <a href="/AppCoder/registro">Registrate </a></p>
            {% if error %}
                <p style="color:red;"></p>
            {% endif %}
        </form>
    </div>
 
</body>
</body>
</html>